
<form class="form-horizontal" id="login-form" action="/login" method="post">
  <fieldset>
    <legend>Please Login:</legend>
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-5">
        <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-5">
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
{{#each flash}}
<h3>{{this}}</h3>
{{/each}}
