



<form class="form-horizontal" action="/isUpdated/{{comment.id}}/{{comment.loc_id}}" method="POST">
  <fieldset>
    <legend>Edit Comments</legend>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Edit Title</label>
      <div class="col-lg-6">
        <textarea class="form-control" name="title" id="title" placeholder="Edit Title Here">{{comment.title}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Edit Body</label>
      <div class="col-lg-6">
        <textarea class="form-control" name="body" rows="8" id="textArea">{{comment.body}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" value="editComment">Submit Changes</button>
      </div>
    </div>
  </fieldset>
</form>
