


<form class="form-horizontal" action="/comment/{{id}}/update/{{comments_id}}" method="POST">
  <fieldset>
    <legend>Edit Comments</legend>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Edit Title</label>
      <div class="col-lg-6">
        <textarea class="form-control" id="title" placeholder="Edit Title Here">{{comments.title}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Edit Body</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="8" id="textArea">{{comments.body}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
      </div>
    </div>
  </fieldset>
</form>
