<form class="form-horizontal" id="register-form" action="/register" method="post">
    <fieldset>
        <legend>Please Register a New Username and Password:</legend>
        <div class="form-group">
            <label for="createUsername" class="col-lg-2 control-label">Create Username:</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter Username" minlength="3" maxlength="15" required>
            </div>
        </div>
        <div class="form-group">
            <label for="createPassword" class="col-lg-2 control-label">Create Password:</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" minlength="3" maxlength="15" required>
                <input type="password" class="form-control" id="confirmPassword" name="password1" placeholder="Confirm Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
<h2>{{message}}</h2>
