body {
  padding: 50px;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 46px;
  font-family: 'Oleo Script', cursive;
}

.navbar-nav > li > a:focus {
  border: 0;
  outline: 0;
}

.jumbotron {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.jumbotron h1 {
  font-size: 56px;
}

.jumbotron > img {
  width: 100%;
}

.jumbo-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.feature-image {
  width: 100%;
}

.jumbotron-form {
  margin-top: 30px;
}

.jumbotron-form input{
  width: 80%;
  display: inline;
}

.jumbotron-form button {
  display: inline;
  margin-left: 5px;
}

.thumbnail {
  min-height: 400px;
}

footer .logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer h3 {
  display: inline;
  padding-top: 5px;
}

footer img {
  width: 140px;
  padding-top: 12px;
  display: inline;
  margin-left: 10px;
}

.map-wrapper {
  text-align: center;
  margin-bottom: 45px;
}

.map-wrapper h2 {
  margin-bottom: 30px;
}

.result-row {
  margin-bottom: 30px;
}

.result-row img {
  width: 100%;
}

.modal-close {
  margin-right: 10px;
}
