body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://placeholdit.imgix.net/~text?txtsize=63&txt=Hero+Image&w=1340&h=600');
  min-height: 600px;
  text-align:center;
}

.feature-image {
  width: 100%;
}

.jumbotron-form {
  margin-top: 30px;
}

.jumbotron-form input{
  width: 80%;
  display: inline;
}

.jumbotron-form button {
  display: inline;
  margin-left: 5px;
}

footer .logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer h3 {
  display: inline;
  padding-top: 5px;
}

footer img {
  width: 200px;
  display: inline;
  margin-left: 10px;
}
